.trackContainer {
    display: grid;
    grid-template-columns: 15% 35% 25% 25%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: white;
}

.trackContainerSelected {
    display: grid;
    grid-template-columns: 15% 35% 25% 25%;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: #1DB954;
}

.trackContainer:hover {
    background-color: dimgray;
    cursor: pointer;
}
